/* index.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145deg, #0f0f1c, #1f1f3b);
    color: #ffffff;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #4b2c82;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
